@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --color-bg: 255 255 255; /* white */
  --color-text: 17 24 39; /* gray-900 */
}

.dark {
  --color-bg: 17 24 39;   /* gray-900 */
  --color-text: 255 255 255; /* white */
}